# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
proj с 1000 юзеров и визитками.sql
db.php
# except foo.html which is maintained by hand.
# !foo.html
# Ignore objects and archives.
# *.[oa]